<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/login.js" defer></script>
    <style>
        #workspace-code-field {
            text-transform: uppercase;
        }
        .form-login {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            margin: 10% auto;
        }
        body {
            background-color: #fafafa;
        }
    </style>
</head>
<body class="text-center">
    <div class="modal" tabindex="-1" id="password-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="password" spellcheck="false" maxlength="64" minlength="6"
                               id="modal-password-field" class="form-control">
                        <label for="modal-password-field">Password</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="modal-submit">Login</button>
                </div>
            </div>
        </div>
    </div>

    <main class="form-login">
        <form action="" method="POST" name="login-form">
            <fieldset>
                <div class="mb-3">
                    <h1>Login</h1>
                </div>
                {% if mid %}
                    <div class="mb-3">
                        {% if mid == 1 %}
                        <div class="alert alert-danger" role="alert">
                            This code is invalid or does not exist.
                        </div>
                        {% endif %}
                        {% if mid == 2 %}
                        <div class="alert alert-danger" role="alert">
                            This password is incorrect.
                        </div>
                        {% endif %}
                        {% if mid == 3 %}
                        <div class="alert alert-warning" role="alert">
                            This account has been locked.
                        </div>
                        {% endif %}
                        {% if mid == 4 %}
                        <div class="alert alert-warning" role="alert">
                            Please login to view this page.
                        </div>
                        {% endif %}
                        {% if mid == 5 %}
                        <div class="alert alert-info" role="alert">
                            This account requires a password.
                        </div>
                        {% endif %}
                        {% if mid == 6 %}
                        <div class="alert alert-danger" role="alert">
                            This account has no workspace.
                        </div>
                        {% endif %}
                        {% if mid == 7 %}
                        <div class="alert alert-success" role="alert">
                            You have been logged out.
                        </div>
                        {% endif %}
                        {% if mid == 8 %}
                        <div class="alert alert-warning" role="alert">
                            This account has been archived.
                        </div>
                        {% endif %}
                        {% if mid == 9 %}
                        <div class="alert alert-danger" role="alert">
                            A server error occurred.
                        </div>
                        {% endif %}
                        {% if mid == 10 %}
                        <div class="alert alert-danger" role="alert">
                            You have exceeded usage rate limits.<br/>
                            Please wait before trying again.
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="form-floating mb-3">
                    <input type="text" name="code" spellcheck="false" maxlength="8" minlength="8"
                           id="code-field" class="form-control"
                           {% if fill_code %}
                           value="{{ fill_code }}"
                           {% else %}
                           data-bs-toggle="tooltip" data-bs-placement="right"
                           title="Please enter the code assigned to you by your instructor."
                           {% endif %}
                           autofocus>
                    <label for="code-field">8-digit Code</label>
                </div>
                <input type="hidden" name="password"/>
                <div class="mb-4">
                    <div class="d-grid gap-2" id="actions">
                        <button type="submit" class="btn btn-outline-primary btn-lg" id="form-submit">Go</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </main>
    <script>
    /*Globally enable tooltips*/
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
</body>
</html>