<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/login.js" defer></script>
    <style>
        #workspace-code-field {
            text-transform: uppercase;
        }
        .form-box {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            margin: 10% auto;
        }
        body {
            background-color: #fafafa;
        }
    </style>
</head>
<body class="text-center">
    <main class="form-box">
        <form action="" method="POST" name="login-form">
            <fieldset>
                <div class="mb-3">
                    <h1>Login</h1>
                </div>
                {% if mid %}
                <div class="mb-3">
                    {% if mid == 1 %}
                    <div class="alert alert-danger" role="alert">
                        This password is incorrect.
                    </div>
                    {% endif %}
                    {% if mid == 2 %}
                    <div class="alert alert-warning" role="alert">
                        Please login to view this page.
                    </div>
                    {% endif %}
                    {% if mid == 3 %}
                    <div class="alert alert-success" role="alert">
                        You have been logged out.
                    </div>
                    {% endif %}
                    {% if mid == 4 %}
                    <div class="alert alert-danger" role="alert">
                        A server error occurred. Please contact Jacob.
                    </div>
                    {% endif %}
                    {% if mid == 5 %}
                    <div class="alert alert-danger" role="alert">
                        No users in database. Please contact Jacob.
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <div class="form-floating mb-3">
                    <input type="password" spellcheck="false" maxlength="64" minlength="6"
                           id="password-field" class="form-control">
                    <label for="password-field">Password</label>
                </div>
                <div class="mb-4">
                    <div class="d-grid gap-2" id="actions">
                        <button type="submit" class="btn btn-outline-primary btn-lg" id="form-submit">Go</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </main>
    <script>
    /*Globally enable tooltips*/
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
</body>
</html>