<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/manage.js" defer></script>
    <style>
        body {
            background-color: #eee;
        }
        .user-code {
            font-family: monospace;
            font-size: 1.1rem;
            font-weight: bolder;
        }
        .btn-icon-combo {
            margin-right: 5px;
        }
        .card-panel {
            background-color: transparent;
            border: 0;
        }
        .card-panel.card-header {
            background-color: transparent;
            border: 0;
            font-size: 2rem;
            font-weight: lighter;
            color: #555;
        }
        .card-panel.card-body {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
        }
        .stat-box:hover {
            background-color: #dfdfdf;
            cursor: pointer;
        }
        .stat-box {
            border: 1px solid #eee;
            border-radius: 10px;
            background-color: #fff;
        }
        .stat-box .stat-headline {
            font-size: 4rem;
            font-weight: lighter;
        }
        .stat-box .stat-description {
            color: #555;
            font-size: 1.2rem;
        }
        #screen-preview {
            width: 300px;
            height: 200px;
        }
    </style>
</head>
<body>
{% for program in programs %}
<div class="modal" tabindex="-1" id="settings-modal-{{ program.name }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings for {{ program.display_name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#">
                    {% for opt in program.options %}
                        {% if opt.type_name == 'INT' %}
                        <div class="row mb-3">
                            <label for="setting-input-{{ opt.markup_id }}"
                                   class="col-sm-5 col-form-label"
                                   title="{{ opt.help_text or opt.display_name}}">
                                {{ opt.display_name }}
                            </label>
                            <div class="col-sm-7">
                            {% if opt.input_method == 1 %}
                                <input type="color" class="form-control form-control-color"
                                       id="setting-input-{{ opt.markup_id }}"
                                       value="#{{ '%x' | format(opt.default) }}"
                                       title="Pick a color">
                            {% else %}
                                <input type="number"
                                       class="form-control"
                                       value="{{ opt.default }}"
                                       {% if opt.min %}
                                       min="{{ opt.min }}"
                                       {% endif %}
                                       {% if opt.max %}
                                       max="{{ opt.max }}"
                                       {% endif %}
                                       id="setting-input-{{ opt.markup_id }}"/>
                            {% endif %}
                            </div>
                        </div>
                        {% elif opt.type_name == 'BOOL' %}
                        <div class="row mb-3">
                            <div class="col-sm-7 offset-sm-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           checked="{{ 'on' if opt.default else 'off' }}"
                                           id="setting-input-{{ opt.markup_id }}"/>
                                    <label class="form-check-label"
                                           for="setting-input-{{ opt.markup_id }}"
                                           title="{{ opt.help_text or opt.display_name}}">
                                        {{ opt.display_name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        {% elif opt.type_name == 'STR' and opt.choices and opt.choices|length > 1 %}
                        <div class="row mb-3">
                            <label for="setting-input-{{ opt.markup_id }}"
                                   class="col-sm-5 col-form-label"
                                   title="{{ opt.help_text or opt.display_name}}">
                                {{ opt.display_name }}
                            </label>
                            <div class="col-sm-7">
                                <select class="form-select" aria-label="Possible values of {{ opt.display_name }}">
                                    {% for choice in opt.choices %}
                                        {% if choice == opt.default %}
                                            <option value="{{choice}}" selected>{{ opt.default }}</option>
                                        {% else %}
                                            <option value="{{choice}}">{{ choice }}</option>
                                        {% endif%}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% else %}
                        <div class="row mb-3">
                            <label for="setting-input-{{ opt.markup_id }}"
                                   class="col-sm-5 col-form-label"
                                   title="{{ opt.help_text or opt.display_name}}">
                                {{ opt.display_name }}
                            </label>
                            <div class="col-sm-7">
                                <input type="text"
                                       class="form-control"
                                       value="{{ opt.default }}"
                                       id="setting-input-{{ opt.markup_id }}"/>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">LED Screen Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <div class="btn-toolbar d-flex" role="toolbar">
                    <div class="btn-group me-2">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" id="defaultDropdown"
                                data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                            System
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                            <li><a class="dropdown-item" href="#" id="restart-btn">Restart</a></li>
                            <li><a class="dropdown-item" href="#" id="poweroff-btn">Power Off</a></li>
                        </ul>
                    </div>
                    <div class="btn-group me-2">
                        <a class="btn btn-danger" href="/logout" role="button">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="my-3">
                    <div class="card card-panel">
                        <div class="card-panel card-header">
                            Screen Preview
                        </div>
                        <div class="card-body p-0 text-center">
                            <img id="screen-preview" src="/static/images/preview-placeholder.png" alt="Screen preview image">
                        </div>
                    </div>
                    {% if programs|length > 0 %}
                    <div class="card card-panel">
                        <div class="card-panel card-header">
                            Built-in Programs ({{ programs|length }})
                        </div>
                        <div class="card-panel card-body">
                            <div class="table-responsive">
                                <table class="table table-hover align-middle">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col" class="text-end">Actions</th>
                                    </tr>
                                    {% for program in programs %}
                                    <tr>
                                        <td>
                                            {{ program.display_name }}
                                            {% if program.version %}
                                            <small class="fw-lighter">v{{ program.version }}</small>
                                            {% endif %}
                                        </td>
                                        <td>{{ program.description or "<i>(None provided)</i>" }}</td>
                                        <td>
                                            <div class="btn-group float-end" role="group"
                                                 aria-label="Program row actions">
                                                {% if program.options|length > 0 %}
                                                <button type="button" class="btn btn-outline-secondary"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#settings-modal-{{ program.name }}"
                                                        title="Program settings">
                                                    <i class="bi-gear" role="img"
                                                       aria-label="Program settings"></i>
                                                </button>
                                                {% endif %}
                                                <button type="button" class="btn btn-success"
                                                        id="btn-start-{{ program.name }}"
                                                        title="Start">
                                                    <i class="bi-play-fill" role="img"
                                                       aria-label="Start program"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="alert alert-warning" role="alert">
                        No built-in programs loaded. Please contact Jacob.
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</main>
</body>
</html>