<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <style>
        #workspace-code-field {
            text-transform: uppercase;
        }
        .form-box {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            margin: 10% auto;
        }
        body {
            background-color: #eee;
        }
    </style>
</head>
<body class="text-center">
    <div class="form-box">
        <div class="mb-3">
            <h2>Say hello to your new LED screen!</h2>
        </div>
        <p class="lead">This is either your first time starting this system or you have reset it. Please take a moment to create a default administrator account.</p>
        <div class="my-3">
            <div class="d-grid gap-2">
                <a type="button" class="btn btn-outline-primary btn-lg" href="{{ url_for('oobe.setup') }}">Begin setup</a>
            </div>
        </div>
    </div>
</body>
</html>