[Unit]
Description=Built-in program daemon for LED screen
After=screend.service
Requires=screend.service

[Service]
Type=simple
ExecStart=/home/pi/ledscreen/pluggramd/run.sh
WorkingDirectory=/home/pi/ledscreen/pluggramd/
Restart=always

[Install]
WantedBy=multi-user.target