[Unit]
Description=Built-in program daemon for LED screen web service
Requires=screend.service

[Service]
Type=simple
ExecStart=/opt/pluggramd/run.sh
ExecReload=/bin/kill -1 -- $MAINPID
ExecStop=/bin/kill -- $MAINPID
KillMode=process
WorkingDirectory=/opt/pluggramd/
Restart=always

[Install]
WantedBy=basic.target
