[Unit]
Description=Screen controller daemon for the LED screen web service

[Service]
Type=simple
ExecStart=/opt/screend/run.sh
ExecReload=/bin/kill -1 -- $MAINPID
ExecStop=/bin/kill -- $MAINPID
KillMode=process
WorkingDirectory=/opt/screend/
Restart=always

[Install]
WantedBy=basic.target
