[Unit]
Description=uWSGI LED screen web service
Requires=pluggramd.service

[Service]
Type=simple
PIDFile=/home/pi/ledscreen/webapp/uwsgi.pid
ExecStart=/home/pi/ledscreen/webapp/run.sh
WorkingDirectory=/home/pi/ledscreen/webapp/
Restart=always

[Install]
WantedBy=networking.target
